.back-to-top {
    background: var(--color-background-secondary);
    border: 3px solid var(--color-border);
    border-radius: var(--radius);
    position: fixed;
    bottom: 20px; /* Adjust as needed */
    right: 35px; /* Adjust as needed */
    z-index: 4000; /* Ensure it's above other content */
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--spacing-1) var(--spacing-1);
    transition: background-color 0.3s ease, border-color 0.3s ease;
    color: var(--color-text-body);
    font-size: 1.75rem;
    font-weight: bold;
}

.back-to-top:hover{
    opacity: .75;
}