.comment {
    background: var(--color-background);
    margin: var(--spacing-1) 0;
    padding: var(--spacing-2);
    transition: box-shadow 0.1s ease-in;
    border-radius: var(--border-radius);
    max-width: 100%;
  }
  
  .comment:hover {
    box-shadow: var(--box-shadow);
  }
  
  .comment-metadata {
    display: flex;
    margin-bottom: var(--spacing-2);
    align-items: center;
  }
  
  .comment-created-time {
    margin-left: auto;
    font-style: italic;
  }
  
  .comment-author {
    display: flex;
    font-weight: bold;
    color: var(--color-branding);
  }
  
  #comment-body{
    display: flex;
    max-height: 20px;
    overflow: scroll;
  }
  
  @media only screen and (max-width: 768px) {
    .comment {
      margin: var(--spacing-1) 0;
      padding: var(--spacing-2);
      transition: box-shadow 0.1s ease-in;
      border-radius: var(--border-radius);
      max-width: 100%;
      justify-content: flex-start;
    }
    .comment-metadata {
      display: flex;
      flex-direction: column;
      margin-bottom: var(--spacing-1);
      align-items: center;
    }
    .comment-text{
      display: flex;
    }
    
  }