header {
  display: flex;
  justify-content: space-between; /* Evenly space elements horizontally */
  align-items: center; /* Center elements vertically */
  color: var(--color-branding);
  background: var(--color-foreground);
  box-shadow: var(--box-shadow);
  height: auto;
  padding: 0 var(--spacing-1);
}

header .logo {
  font-weight: bold;
  padding: var(--spacing-1) 0;
  display: flex;
  align-items: center;
}

header .logo-icon {
  margin-right: var(--spacing-1);
  font-size: 2rem;
}

header span {
  color: var(--color-text-header);
}

.search {
  display: flex;
  align-items: center;
  width: 100%; /* Make sure the container takes the full width */
  max-width: 800px; /* Optional: Set a maximum width for larger screens */
  margin: 0 auto; /* Center the container horizontally */
  padding: var(--spacing-1); /* Add padding if needed */
}

/* Style the input field */
.search input {
  flex-grow: 1; /* Allow the input to grow and shrink */
  background: var(--color-background-secondary);
  border: none;
  padding: var(--spacing-1) var(--spacing-2);
  height: auto;
  border-radius: var(--radius);
  color: var(--color-text-header);
  font-size: 1rem; /* Set a base font size */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.search button {
  background: none;
  border: none;
  cursor: pointer;
  color: var(--color-text-secondary);
  font-size: 1.5rem;
}

.toggle {
  display: flex;
  align-items: center; /* Center elements vertically */
}

.toggle button {
  background: var(--color-background-secondary);
  border: 2px solid var(--color-border);
  border-radius: var(--radius);
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: var(--spacing-1) var(--spacing-2);
  transition: background-color 0.3s ease, border-color 0.3s ease;
  color: var(--color-text-body);
}

/* Responsive styles */
@media (max-width: 768px) {
  header {
    justify-content: flex-end; 
  }
  .search input{
    padding: var(--spacing-1) var(--spacing-1);
    width: 4px;
  }
  .toggle button {
    padding: var(--spacing-1) var(--spacing-1);
  }
  .logo-icon {
    margin-right: var(--spacing-0);
    font-size: .5rem;
  }
  .logoName{
    display: none;
  }
}
