header {
  display: grid;
  grid-template-columns: auto auto auto;
  color: var(--color-branding);
  background: var(--color-foreground);
  box-shadow: var(--box-shadow);
  height: auto; 
  padding: 0 var(--spacing-5);
}

header .logo {
  font-weight: bold;
  padding: var(--spacing-1) 0;
  grid-column: 1 / 2;
  display: flex;
  align-items: center;
}

header .logo-icon {
  grid-column: 2 / 3;
  margin-right: var(--spacing-1);
  font-size: 2rem;
}

header span {
  color: var(--color-text-header);
}

.search {
  display: flex;
  align-items: center;
}

.search input {
  flex-grow: 1;
  background: var(--color-background-secondary);
  border: none;
  padding: var(--spacing-1) var(--spacing-2);
  height: auto; 
  border-radius: var(--radius);
  color: var(--color-text-header);
}

.search button {
  background: none;
  border: none;
  cursor: pointer;
  color: var(--color-text-secondary);
  font-size: 1.5rem;
}

.toggle {
  display: flex;
  align-items: center;
  grid-column: 3;
  justify-content: flex-end;
}

.toggle button {
  background: var(--color-background-secondary);
  border: 2px solid var(--color-border);
  border-radius: var(--radius);
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: var(--spacing-1) var(--spacing-2);
  transition: background-color 0.3s ease, border-color 0.3s ease;
  color: var(--color-text-body);
  font-size: 1rem;
}

/* Responsive styles */
@media (max-width: 768px) {
  header {
    grid-template-columns: auto auto auto; 
  }
  .toggle {
    grid-column:  3; 
  }
}

@media (max-width: 480px) {
  header {
    grid-template-columns: auto auto auto; 
  }
  .toggle {
    grid-column: 3; 
  }
}
