body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: grid;
  grid-template-columns: auto;
  grid-gap: var(--spacing-1);
}

main {
  display: grid;
  grid-template-columns: 1fr;
  padding-top: var(--spacing-1);
  padding-left: var(--spacing-7);
  padding-right: var(--spacing-7);
  grid-column: 1;
  margin-right: var(--spacing-4);
  margin-left: var(--spacing-4);
}

a {
  color: var(--color-text-link);
}

header {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: var(--spacing-2);
  align-content: center;
}
.subreddit-card {
  z-index: 2000;
  position: fixed;
  top: 50px;
  right: 10px;
}
.subreddits-list {
  overflow: scroll;
  max-height: 400px;
}

/* Mobile adjustments */
@media only screen and (max-width: 1000px) {
  #root {
    grid-template-columns: auto ;
  }

  main {
    grid-column: 1;
    padding: var(--spacing-1);
  }
}
.subreddit-card {
  z-index: 2000;
  position: fixed;
  top: 50px;
  right: 10px;
  max-height: 500px;
  overflow: scroll;
}

@media only screen and (max-width: 768px) {
  #root {
    grid-template-columns: auto;
    grid-template-rows: auto; 
  }

  main {
    grid-column: 1;
    padding: var(--spacing-1);
  }

  header {
    grid-template-columns: 1fr;
    grid-gap: var(--spacing-1);
  }

  .subreddit-card {
    z-index: 2000;
    position: fixed;
    top: 50px;
    right: 10px;
    max-height: 500px;
    overflow: scroll;
  }
}

@media only screen and (max-width: 480px) {
  #root {
    grid-template-columns: auto;
    grid-template-rows: auto; 
  }

  main {
    padding: var(--spacing-0.5);
  }

  header {
    grid-template-columns: 1fr;
  }
  .subreddit-card {
    z-index: 2000;
    position: fixed;
    top: 50px;
    right: 10px;
    max-height: 500px;
    overflow: scroll;
  }
}
